# Local .terraform directories
*/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .idea folder & .DS_Store
.idea
.DS_Store

# creds
.env

# local resume page (managed outside the site now)
my_website/portfolio-single.html